.with-video-background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.text-header{
  color:#c68642be;
}
.background-general{
  background-color: #c68642be;
}
.V2yfr {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.colorGeneral{
  background: linear-gradient(135deg, #536385 0%, #536385 80%) !important;
	color: rgb(255, 255, 255);
  word-wrap: break-word;
}
.colorGeneral:hover{
  color: rgb(255, 255, 255);
  word-wrap: break-word;
}
.textColor{
  color: #0088cc;
}
.colorCards{
  background: #536385 !important;
}
.colorGeneralPage{
  background:#3d3a56 !important;
}
.textSize{
  font-size: 16px !important;
}
.colorSections{
  background-color: #272829 !important;
}
.colorcardContac{
  background-color: transparent !important;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
#div-cookies {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: white;
  background-color: #272829;
  padding: 18px;
  text-align: center;
  z-index: 99;
}
.heightFooter{
  height: none;
}

.owl-carousel.carousel-center-active-item-2 .owl-item.active > div {
  background-image: linear-gradient(150deg, #536385 0%, #3d3a56 30%, #536385 70%, #3d3a56 100%) !important
}
.owl-carousel:not(.nav-arrows-1):not(.show-nav-title) .owl-nav button[class*="owl-"] {
  border-color: #0088cc #0088cc #006699;
  color: #FFF;
}
.sort-source.sort-source-style-3 > li.active > a {
	border-bottom-color: #ffffff !important;
	color: #ffffff !important;
}
html .overlay-color-primary:not(.no-skin):before {
  background-color: #c68642be !important;
}
.process .process-step-circle {
  border-color: #592e14 !important;
}
.process .process-step:hover .process-step-circle {
	background-color: #c68642be !important;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
  background: url("https://karenmenezes.com/static/img/demos/shapes-polygon/bg-cubes.png");
}

p {
  margin: 0 0 10px 0;
}

.wrap {
  color: #222;
  font-size: 24px;
}

.clip-svg {
  width: 0;
  height: 0;
}

.clip-caption {
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.hexagon-each {
  display: block;
  position: relative;
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%) !important;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%) !important;
  margin: 0 auto;
}

a.hexagon-each:hover {
  background: #0088cb;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.social-each {
  font-size: 100%;
}

.clip-gradient {
  background: #3d3a56;
  width: 200px;
  height: 200px;
}

.clip-gradient .clip-caption {
  color: #fff;
}

@media (max-width: 1024px){
  .heightFooter{
    display: block;
    height: 599px;;
  }
}
@media (max-width: 1026px) {
  .heightFooter{
    height: none;
  }
}

@media (max-width: 991px){
  .icons {
    display: none;
  }
  .icon-arrow-down {
    display: none;
  }
  .p-events-none{
    display: none;
  }
  .text-size{
    font-size: 20px !important;
  }
  .sizeImage-animation{
    background-size: 171% !important;
    background-position: none !important;
    animation-duration: none !important;
  }
}
