.text-color{
  color: #9e7a7a;
}

.text-color-header{
  color: #536385;
}

.background-button{
  background: #536385 !important;
}

.background-buttonPlay{
  background: #536385 !important;
}

.menu_area-light .navbar-nav li.current > a, .menu_area-light .navbar-nav li.active > a {
  color: #8dd6f8 !important;  }

@media screen and (min-width: 992px){
  /* ===================================
    Default Header style
  ====================================== */
  header.scrollHeader .navbar-default{ position: fixed; top: 0; z-index: 99; width: 100%; background: #536385; left: 0; transition: all 0.2s ease 0s;  -webkit-box-shadow: 0 0 3px rgb(255, 255, 255); -ms-box-shadow: 0 0 3px rgb(255, 255, 255); box-shadow: 0 0 3px rgb(255, 255, 255); }
}
.menu_area-light.scrollHeader .navbar-nav > li > a { color: #ffffff; }
.menu_area-light.scrollHeader .navbar > ul > li.has-sub > a:after { border-color: transparent #ffffff #ffffff transparent; }

.section-heading:before {
  position: absolute;
  content: '';
  width: 40px;
  height: 3px;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  background: #8cd6f7 !important;
  z-index: 1;
}
.section-heading .dotted-box .dotted {
  position: absolute;
  left: 50%;
  margin-left: 25px;
  width: 3px;
  height: 3px;
  bottom: 0px;
  background: #8cd6f7 !important;
  z-index: 1; 
}
.team-wrapper .team-content {
  background-color: #ffffff;
  padding: 30px 25px 25px 25px;
  border: 1px solid #ededed;
  position: relative; }
.team-wrapper .team-content i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: .5s;
  color: #ffffff;
  background: #536385 !important;
  font-size: 16px;
  position: absolute;
  left: 25px;
  top: -30px;
  display: inline-block; }

.team-social-links .social-icons li a:hover {
  background: #8dd6f8 !important; }
.team-social-links .social-icons li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  background: #536385 !important;
  font-size: 16px;
  transition: all 200ms linear;
  transition-delay: 0.1s;
}
.address-icon {
  display: block;
  color: #fff;
  background: #536385 !important;
  font-size: 18px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 50px;
  margin-right: 15px; }
  .list-style3 li a:before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background: #8cd6f7 !important; }
.footer-title:before {
    content: "";
    width: 20px;
    height: 3px;
    background-color: #8cd6f7 !important;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 11px;
}
.butn {
  position: relative;
  display: inline-block;
  background: #536385 !important;
  color: #ffffff !important;
}
.butn:hover:after, .butn:active:after, .butn:focus:after {
  background: #8cd6f7 !important;
}
.share-post li a {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background: #536385 !important;
  height: 35px;
  line-height: 40px;
  width: 35px; }
.share-post li a:hover {
  background: #8cd6f7 !important; }
